$ColorPrincipal: blue;
$Blanco: white;
$FuenteTitulos: " Arial, Helvetica", sans-serif;
$FuenteParrafos: "Tahoma", sans-serif;
$TamañoTitulos: 40px;
$TamañoParrafos: 30px;


// operaciones
 $Ancho:600px;
 $Largo:600px;
 $color1: blue;
 $color2: yellow;